{% extends 'public/dashboard/home_Sistemas.html' %}
{% block body %}

<div class="container-fluid">
    <div class="card shadow">
        <div class="card-body">

     <!-- Tabla -->
     <div style="overflow-x: auto;" >
        <table class="table table-bordered" style="font-size: 12px;">
            <thead>
                <tr>
                    <th class="col-1" style="width: 15%;">ID</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">_____Dia_____</th>                            
                    <th scope="col">Viaje/OT</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Agencia</th>
                    <th scope="col">Tipo_Extra_Costo</th>
                    <th scope="col">_____Motivo_____</th>
                    <th scope="col">Hora_Llegada</th>
                    <th scope="col">_____Dia_____</th>
                    <th scope="col">Hora_Salida</th>
                    <th scope="col">_____Dia_____</th>
                    <th scope="col">Total Horas</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Responsable</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Responsable Evaluacion</th>
                    <th scope="col">Archivo</th>
                    <th scope="col">Fecha Creacion</th>
                    <th scope="col">Fecha Cierre</th>
                    
                </tr>
            </thead>
    </div>
    
        <tbody>
            {% for d in data %}
                <tr>
                    <td>{{d.id}}</td>
                    <td>{{d.usuario}}</td>                    
                    <td>{{d.dia}}</td>
                    <td>{{d.viaje_ot}}</td>
                    <td>{{d.cliente}}</td>
                    <td>{{d.lugar}}</td>
                    <td>{{d.tipo_extra_costo}}</td>
                    <td>{{d.motivo}}</td>
                    <td>{{d.hora_llegada}}</td>
                    <td>{{d.dia2}}</td>
                    <td>{{d.hora_salida}}</td>
                    <td>{{d.dia3}}</td>
                    <td>{{d.total_horas}}</td>
                    <td>{{d.empresa}}</td>
                    <td>{{d.responsable}}</td>
                    <td>{{d.monto}}</td>
                    <td>{{d.estado}}</td>
                    <td>{{d.responsable_evaluacion}}</td> 
                    <td><a href="{{ url_for('download', nombre_zip=d.nombre_zip) }}" class="btn btn-success btn-sm" title="Descargar" style="font-size: 8px;">Descargar</a></td>    
                    <td>{{d.fecha_creacion}}</td>
                    <td>{{d.fecha_cierre}}</td>
                    <!--Logica Para habilitar o desabilitar el boton de edicion dependiendo el perfil-->                                          
        
                </tr>

                <!-- modal -->                

            {% endfor %}

        </tbody>

    </table>


    </div>
</div>
</div>
</div>

{% endblock %}