<!---Mis alertas-->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="toast_alert active">
      <div class="toast_alert-content">
        {% if category == 'success' %}
          <i class="bi bi-check check"></i>
          <div class="message">
            <span class="text text-1">Felicitaciones 😃</span>
            <span class="text text-2">{{ message }}</span>
          </div>
        {% elif category == 'danger' %}
          <i class="bi bi-check check"></i>
          <div class="message">
            <span class="text text-1">Error 😱</span>
            <span class="text text-2">{{ message }}</span>
          </div>
        {% endif %}
      </div>
      <i class="bi bi-x close"></i>
      <div class="progress active"></div>
    </div>
  {% endfor %}
{% endwith %}
<!---Fin Alertas-->
