{% extends 'public/dashboard/home_CAT.html' %}

{% block body %}

<div class="container-fluid">
    <div class="card shadow">
        <!-- Tabla -->
        <div style="overflow-x: auto;">
            <table class="table table-bordered" style="font-size: 10px;">
                <thead>
                    <tr>
                        <th class="col-1" style="width: 2%;">ID</th>
                        <th scope="col" style="width: 3%;">Usuario</th>
                        <th scope="col" style="width: 5%;">Dia</th>                            
                        <th scope="col" style="width: 4%;">Viaje/OT</th>
                        <th scope="col" style="width: 4%;">Cliente</th>
                        <th scope="col">Agencia</th>
                        <th scope="col" style="width: 4%">Tipo Extra Costo</th>
                        <th scope="col" style="width: 8%">Motivo</th>
                        <th scope="col">Hora Llegada</th>
                        <th scope="col" style="width: 5%">Dia</th>
                        <th scope="col">Hora Salida</th>
                        <th scope="col" style="width: 5%">Dia</th>
                        <th scope="col" >Total Horas</th>
                        <th scope="col" style="width: 5%">Empresa</th>
                        <th scope="col">Responsable</th>
                        <th scope="col" style="width: 5%">Monto</th>
                        <th scope="col" style="width: 5%">Estado</th>
                        <th scope="col" style="width: 5%">Responsable Evaluacion</th>
                        <th scope="col">Archivo</th>
                        <th scope="col" style="width: 5%">Fecha Creacion</th>
                        <th scope="col" style="width: 5%;">Fecha Cierre</th>
                    </tr>
                </thead>
                <tbody>
                        {% for d in data %}
                    <tr>
                        <td>{{d.id}}</td>
                        <td>{{d.usuario}}</td>                    
                        <td>{{d.dia}}</td>
                        <td>{{d.viaje_ot}}</td>
                        <td>{{d.cliente}}</td>
                        <td>{{d.lugar}}</td>
                        <td>{{d.tipo_extra_costo}}</td>
                        <td>{{d.motivo}}</td>
                        <td>{{d.hora_llegada}}</td>
                        <td>{{d.dia2}}</td>
                        <td>{{d.hora_salida}}</td>
                        <td>{{d.dia3}}</td>
                        <td>{{d.total_horas}}</td>
                        <td>{{d.empresa}}</td>
                        <td>{{d.responsable}}</td>
                        <td>{{d.monto}}</td>
                        <td>{{d.estado}}</td>
                        <td>{{d.responsable_evaluacion}}</td> 
                        <td><a href="{{ url_for('download', nombre_zip=d.nombre_zip) }}" class="btn btn-success btn-sm" title="Descargar" style="font-size: 8px;">Descargar</a></td>    
                        <td>{{d.fecha_creacion}}</td>
                        <td>{{d.fecha_cierre}}</td>
                        <!--Logica Para habilitar o desabilitar el boton de edicion dependiendo el perfil-->                                          
            
                    </tr>                                   

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}