
<h1 class="mb-5" id="title">Excelencia Operacional <hr> </h1>
<form action="{{ url_for('loginUser') }}" method="POST" autocomplete="off">
    <div class="mb-6">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control", placeholder="Escribe tu correo electrónico") }}<br>
    </div>
    <div class="mb-6">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>
        {{ form.hidden_tag() }}

    <div class="d-grid gap-2 mt-3 mb-3">
        {{ form.submit(class="btn btn-primary btn-send") }}
    </div>

</form>