{% extends 'public/dashboard/home_desarrollo.html' %}

{% block body %}   
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    // Espera a que el documento esté listo
    $(document).ready(function() {
        // Captura el evento de cambio en el campo "perfil_usuario"
        $('select[name="perfil_usuario"]').on('change', function() {
            // Obtén el valor seleccionado en el campo "perfil_usuario"
            var perfilSeleccionado = $(this).val();

            // Oculta o muestra el campo "Minera" según el perfil seleccionado
            if (perfilSeleccionado === 'Control Trafico' || perfilSeleccionado === 'Sistemas' || perfilSeleccionado  === '--- Seleccione ---') {
                $('select[name="minera"]').parent().hide();  // Oculta el contenedor del campo "Minera"
            } else {
                $('select[name="minera"]').parent().show();  // Muestra el contenedor del campo "Minera"
            }

            // Actualiza las opciones del campo "minera" en función del perfil seleccionado
            actualizarOpcionesMinera(perfilSeleccionado);
        });

        // Función para actualizar las opciones del campo "minera"
        function actualizarOpcionesMinera(perfil) {
            // Obtén la referencia al campo "minera"
            var selectMinera = $('select[name="minera"]');

            // Restablece las opciones del campo "minera" a su estado original
            selectMinera.empty();
            selectMinera.append('<option selected>-----</option>');

            // Define las opciones según el perfil seleccionado
            if (perfil === 'Ad. Contrato') {
                // Opciones para Ad. Contrato
                selectMinera.append('<option value="AMSA">AMSA</option>');
                selectMinera.append('<option value="Alto Norte">Alto Norte</option>');
                selectMinera.append('<option value="BHP">BHP</option>');
                selectMinera.append('<option value="Codesa">Codesa</option>');
                selectMinera.append('<option value="Codelco">Codelco</option>');
                selectMinera.append('<option value="CMDIC">CMDIC</option>');
                selectMinera.append('<option value="Engie">Engie</option>');
                selectMinera.append('<option value="Finning">Finning</option>');
                selectMinera.append('<option value="Glencore">Glencore</option>');
                selectMinera.append('<option value="Lomas Bayas">Lomas Bayas</option>');
                selectMinera.append('<option value="Otras Mineras">Otras Mineras</option>');
            } else if (perfil === 'Control Trafico') {
                // Otras opciones específicas para Control Trafico
                selectMinera.append('<option>No Aplica</option>');
            } else if (perfil === 'Cat') {
                // Opciones específicas para Cat
                selectMinera.append('<option value= "ANF">ANF</option>');
                selectMinera.append('<option value= "IQQ">IQQ</option>');
                selectMinera.append('<option value= "POZ">POZ</option>');
                selectMinera.append('<option value= "SCL">SCL</option>');
                selectMinera.append('<option value= "MCC">MCC</option>');



            } else if (perfil === 'Sistemas') {
                // Opciones específicas para Sistemas
            }
        }
    });
</script>

<div class="row justify-content-md-center mb-5">
    <div class="col-md-10 cajaLogin styFormDashboard">        
        <h2 class="text-center titleDashboard mt-3">Administrador de Cuentas <hr> </h2>

            <form name="formRegisterClient" id="formRegisterClient" action="{{ url_for('registerUser') }}" method="POST" class="mt-5" autocomplete="off">
                <div class="row">
                    <div class="col-md-6">
                        <label for="nombre" class="form-label">Primer Nombre</label>
                        <input type="text" name="nombre" class="form-control" autofocus required>
                    </div>
                    <div class="col-md-6">
                        <label for="apellido" class="form-label">Apellidos</label>
                        <input type="text" name="apellido" class="form-control" required>
                    </div>
                </div>
                

                <div class="mb-6">
                    <label for="email" class="form-label mt-3">Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="password" class="form-label mt-3">Password</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <div class="col-md-6">
                        <label for="repite_password" class="form-label mt-3">Repetir Password</label>
                        <input type="password" name="repite_password" class="form-control" required>
                    </div>
                </div>


                <div class="container" style="padding-right:0px !important;padding-left:0px !important">
                    <div class="row">
                    <div class="col-md-6">
                            <label for="perfil_usuario" class="mt-3">Seleeción Perfil</label>
                            <select name="perfil_usuario" class="form-control" required>
                                <option value="" selected="selected">--- Seleccione ---</option>
                                <option value="Ad. Contrato">Ad. Contrato</option>
                                <option value="Control Trafico">Control Trafico</option>
                                <option value="Cat">Cat</option>
                                <option value="Sistemas">Sistemas</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="minera" class="form-label mt-3">Minera</label>
                            <select name="minera" class="form-control" required>      
                                </select>        
                                
                            </select>
                        </div>
                        
                    </div>
                </div>

                <div class="d-grid gap-2 mt-3 mb-3">
                    <input type="submit" class="btn btn-primary btn-send" id="sendForm" value="Crear Ahora!">
                </div>
            </form>
    </div>
</div>
{% include 'public/dashboard/pages/alerts.html' %}

{% endblock %}