{% extends 'public/dashboard/home_desarrollo.html' %}
{% block title %}Perfil | {{ dataUser.nombre }} {% endblock %}

{% block body %}
<!-- {{  session }} -->

<div class="row justify-content-md-center mb-5">

    <div class="col-md-10 cajaLogin styFormDashboard">
        <h2 class="text-center titleDashboard mt-3">Editar Usuario <hr> </h2>
            <form action='{{url_for("actualizarPerfil")}}' method="POST" autocomplete="off">
           
            

            <div class="row">
                
                <div class="col-md-6">
                    {{ form.email.label(class="form-label mt-3", style="color:black;") }}
                    {{ form.email(class="form-control") }}
                </div>
                
                <div class="col-md-6">
                    {{ form.password.label(class="form-label mt-3", style="color:crimson;") }}
                    {{ form.password(class="form-control") }}
                </div>
                
                <div class="col-md-6">
                    {{ form.repite_password.label(class="form-label mt-3", style="color:crimson;") }}
                    {{ form.repite_password(class="form-control") }}
                </div>
                    {{ form.hidden_tag() }}

            </div>

            <div class="row text-center justify-content-md-center mt-4">
                <div class="col-md-12 mt-3 mb-3">
                    {{ form.submit(class="btn btn-primary btn-send", id="sendForm") }}
                </div>
            </div>

        </form>
    </div>
</div>
{% include 'public/dashboard/pages/alerts.html' %}
{% endblock %}