{% extends 'public/dashboard/home_desarrollo.html' %}
{% block title %}Perfil | {{ dataUser.nombre }} {% endblock %}

{% block body %}
<!-- {{  session }} -->

<div class="row justify-content-md-center mb-5">

    <div class="col-md-10 cajaLogin styFormDashboard">
        <h2 class="text-center titleDashboard mt-3">Editar mi Perfil <hr> </h2>
            <form action='{{url_for("actualizar_mi_perfil")}}' method="POST" autocomplete="off">
           
            

            <div class="column">
                
                <div class="col-md-6">
                    {{ form.old_password.label }} {{ form.old_password(class="form-control mb-3") }}
                </div>

                <div class="col-md-6">
                    {{ form.new_password.label }} {{ form.new_password(class="form-control mb-3") }}
                    
                </div>

                <div class="col-md-6">
                    {{ form.confirm_password.label }} {{ form.confirm_password(class="form-control mb-3") }}
                    
                </div>
             {{ form.hidden_tag() }}

            </div>

            <div class="row text-center justify-content-md-center mt-4">
                <div class="col-md-12 mt-3 mb-3">
                    {{ form.submit(class="btn btn-primary btn-send") }}
                </div>
            </div>

        </form>
    </div>
</div>
{% include 'public/dashboard/pages/alerts.html' %}
{% endblock %}