{% block body %}
<!-- {{  session }} -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
   function confirmarGuardado() {
        // Obtén el valor del campo de archivo
        var archivoInput = $("input[name='nombre_zip']")[0];
        var archivoCargado = archivoInput.files.length > 0;

        // Verifica que se haya cargado un archivo
        if (!archivoCargado) {
            alert("Por favor, cargue un archivo antes de guardar.");
            return;
        }

        // Utiliza window.confirm para mostrar una ventana de confirmación
        if (window.confirm("¿Estás seguro de que deseas guardar la información?")) {
            // Si el usuario hace clic en "Aceptar", envía el formulario
            $("form").submit();
        } else {
            // Si el usuario hace clic en "Cancelar", no hace nada
        }
    }

        
    $(document).ready(function(){
        // Oculta los campos al cargar la página
        $(".extra-costo-fields").hide();

        // Muestra u oculta los campos al cambiar la selección
        $("select[name='tipo_extra_costo']").change(function(){
            if ($(this).val() === "SOBRE ESTADÍA") {
                $(".extra-costo-fields").show();
            } else {
                $(".extra-costo-fields").hide();
            }
        });
    });
</script>
<script>
    function confirmarEliminar(url) {
        // Utiliza window.confirm para mostrar una ventana de confirmación
        if (window.confirm("¿Estás seguro de que deseas eliminar este elemento?")) {
            // Si el usuario hace clic en "Aceptar", redirige a la URL de eliminación
            window.location.href = url;
        } else {
            // Si el usuario hace clic en "Cancelar", no hace nada
        }
    }

    // Resto del código JavaScript...
</script>
<script>
$(document).ready(function() {
        $('#montoInput').on('input', function() {
            // Obtén el valor del campo de entrada
            let monto = $(this).val();

            // Elimina cualquier caracter que no sea un número
            monto = monto.replace(/[^\d-]/g, '');

            // Agrega el signo de dólar y formatea el número con puntos como separadores de miles
            let formattedMonto = '$' + parseFloat(monto).toLocaleString('es-AR');

            // Establece el valor formateado de vuelta en el campo de entrada
            $(this).val(formattedMonto);
        });
    });</script>
<script>
$(document).ready(function(){
    // Oculta los campos al cargar la página
    $(".motivo_ajuste_tarifa").hide();

    // Muestra u oculta los campos al cambiar la selección
    $("select[name='tipo_extra_costo']").change(function(){
        // Oculta todos los campos inicialmente
        $(".motivo_ajuste_tarifa").hide();

        // Verifica el valor seleccionado
        if ($(this).val() === "AJUSTE TARIFA") {
            // Muestra solo el campo específico que deseas
            $(".motivo_ajuste_tarifa").show();
        }
    });
});
</script>
<script>
    $(document).ready(function(){
        // Oculta los campos al cargar la página
        $(".motivo_redestinacion").hide();
    
        // Muestra u oculta los campos al cambiar la selección
        $("select[name='tipo_extra_costo']").change(function(){
            // Oculta todos los campos inicialmente
            $(".motivo_redestinacion").hide();
    
            // Verifica el valor seleccionado
            if ($(this).val() === "REDESTINACIÓN") {
                // Muestra solo el campo específico que deseas
                $(".motivo_redestinacion").show();
            }
        });
    });
</script>
<script>
    $(document).ready(function(){
        // Oculta los campos al cargar la página
        $(".motivo_sobre_estadia").hide();
    
        // Muestra u oculta los campos al cambiar la selección
        $("select[name='tipo_extra_costo']").change(function(){
            // Oculta todos los campos inicialmente
            $(".motivo_sobre_estadia").hide();
    
            // Verifica el valor seleccionado
            if ($(this).val() === "SOBRE ESTADÍA") {
                // Muestra solo el campo específico que deseas
                $(".motivo_sobre_estadia").show();
            }
        });
    });
</script>
<script>
    $(document).ready(function(){
        // Oculta los campos al cargar la página
        $(".motivo_falso_flete").hide();
    
        // Muestra u oculta los campos al cambiar la selección
        $("select[name='tipo_extra_costo']").change(function(){
            // Oculta todos los campos inicialmente
            $(".motivo_falso_flete").hide();
    
            // Verifica el valor seleccionado
            if ($(this).val() === "FALSO FLETE") {
                // Muestra solo el campo específico que deseas
                $(".motivo_falso_flete").show();
            }
        });
    });
</script>
<script>
    $(document).ready(function(){
        // Oculta los campos al cargar la página
        $(".motivo_posicionamiento_vacio").hide();
    
        // Muestra u oculta los campos al cambiar la selección
        $("select[name='tipo_extra_costo']").change(function(){
            // Oculta todos los campos inicialmente
            $(".motivo_posicionamiento_vacio").hide();
    
            // Verifica el valor seleccionado
            if ($(this).val() === "POSICIONAMIENTO VACIO") {
                // Muestra solo el campo específico que deseas
                $(".motivo_posicionamiento_vacio").show();
            }
        });
    });
</script>
</head>
<body>

    <div class="container-fluid">
        <div class="card shadow">
            <div class="card-body">
                <form action='{{url_for("addUser")}}' method="POST" enctype="multipart/form-data">   

                    <div class="row mb-3">
                        <div class="col">
                            {{ form.viaje_ot.label }} {{ form.viaje_ot(class="form-control mb-3") }}
                        </div>
                        <div class="col">
                            {{ form.cliente.label }} {{ form.cliente(class="form-control mb-3") }}                            
                        </div>

                        <div class="col">
                            {{ form.agencia.label }} {{ form.agencia(class="form-control mb-3") }}                            
                        </div>
                        
                        <div class="col">
                            {{ form.tipo_extra_costo.label }} {{ form.tipo_extra_costo(class="form-control mb-3") }}           
                        </div>

                        <div class="col motivo_ajuste_tarifa">
                            {{ form.motivo_ajuste_tarifa.label}} {{ form.motivo_ajuste_tarifa(class="form-control mb-3") }}
                        </div>

                        <div class="col motivo_redestinacion">
                            {{ form.motivo_redestinacion.label}} {{ form.motivo_redestinacion(class="form-control mb-3") }}
                        </div>
                        
                        <div class="col motivo_sobre_estadia">
                            {{ form.motivo_sobre_estadia.label}} {{ form.motivo_sobre_estadia(class="form-control mb-3") }}
                        </div>

                        <div class="col motivo_falso_flete">
                            {{ form.motivo_falso_flete.label}} {{ form.motivo_falso_flete(class="form-control mb-3") }}
                        </div>

                        <div class="col motivo_posicionamiento_vacio">
                            {{ form.motivo_posicionamiento_vacio.label}} {{ form.motivo_posicionamiento_vacio(class="form-control mb-3") }}
                        </div>

                        <div class="row mb-3">
                            <div class="col extra-costo-fields">
                                {{ form.hora_llegada.label}} {{ form.hora_llegada(class="form-control mb-3") }}
                                
                            </div>
                            

                            <div class="col extra-costo-fields">
                                {{ form.dia2.label}} {{ form.dia2(class="form-control mb-3")}}
                            </div>                           
                            

                                                
                            <div class="col extra-costo-fields">
                                {{ form.hora_salida.label}} {{ form.hora_salida(class="form-control mb-3") }}                   
                            </div>
                        
                                
                            
                            <div class="col extra-costo-fields">
                                {{ form.dia3.label}} {{ form.dia3(class="form-control mb-3") }}
                            </div>
                        
                        
                            <div class="col extra-costo-fields">
                                {{ form.total_horas.label}} {{ form.total_horas(class="form-control mb-3") }}
                            </div>

                            <div class="col">
                                {{ form.empresa.label}} {{ form.empresa(class="form-control mb-3") }}
                            </div>

                        
                            <div class="col montoInput">
                                {{ form.monto.label}} {{ form.monto(class="form-control mb-3") }}
                            </div>
                        
                            <!--Estado depende del perfil de usuario--> 

                            <div class="col">
                                {{ form.nombre_zip.label}} {{ form.nombre_zip(class="form-control mb-3") }}
                            </div>
                            

                            {{ form.hidden_tag() }}
                            <div class="col">
                                {{ form.submit.label}} {{ form.submit(class="form-control mb-3") }}
                            </div>

                        </div>



                </form>


                <!-- Tabla -->
            <div style="overflow-x: auto;" >
                <table class="table table-bordered" style="font-size: 10px; text-align: center;">
                    <thead>
                        <tr>
                            <th class="col-1" style="width: 2%;">ID</th>
                            <th scope="col" style="width: 5%">Usuario</th>
                            <th scope="col" style="width: 5%" >Fecha Creación</th>                            
                            <th scope="col" style="width: 4%">Viaje/OT</th>
                            <th scope="col" style="width: 4%">Cliente</th>
                            <th scope="col" style="width: 4%">Agencia</th>
                            <th scope="col" style="width: 4%">Tipo Extra Costo</th>
                            <th scope="col" style="width: 10%">Motivo</th>
                            <th scope="col" style="width: 5%">Hora Llegada</th>
                            <th scope="col" style="width: 5%">Dia</th>
                            <th scope="col" style="width: 5%">Hora_Salida</th>
                            <th scope="col" style="width: 5%">Dia</th>
                            <th scope="col" style="width: 5%">Total Horas</th>
                            <th scope="col" style="width: 5%">Empresa</th>
                            <th scope="col" style="width: 5%">Monto</th>
                            <th scope="col" style="width: 5%">Estado</th>
                            <th scope="col" style="width: 5%">Respaldo</th>
                            <th scope="col" style="width: 5%">Eliminar Registro</th>
                        </tr>
                    </thead>
            </div>
            
                <tbody>
                    {% for d in data %}
                        <tr>
                            <td>{{d.id}}</td>
                            <td>{{d.usuario}}</td>
                            <td>{{d.fecha_creacion}}</td>
                            <td>{{d.viaje_ot}}</td>
                            <td>{{d.cliente}}</td>
                            <td>{{d.agencia}}</td>
                            <td>{{d.tipo_extra_costo}}</td>
                            <td>{{d.motivo}}</td>
                            <td>{{d.hora_llegada}}</td>
                            <td>{{d.dia2}}</td>
                            <td>{{d.hora_salida}}</td>
                            <td>{{d.dia3}}</td>
                            <td>{{d.total_horas}}</td>
                            <td>{{d.empresa}}</td>
                            <td>{{d.monto}}</td>
                            <td>{{d.estado}}</td>
                            <td><a href="{{ url_for('download', nombre_zip=d.nombre_zip) }}" class="btn btn-success btn-sm" title="Descargar" style="font-size: 10px;">Descargar</a></td>  
                            <td><a href="#" class="btn btn-danger btn-sm" onclick="confirmarEliminar('{{ url_for('delete', id=d.id, estado=d.estado) }}')" style="font-size: 10px;">Eliminar</a></td>
                                
                        </tr>

                        <!-- modal -->

                    {% endfor %}

                </tbody>

            </table>


            </div>
        </div>
    </div>
    
{% endblock %}